.container-cadastro {
    background-color: var(--offwhite-fluido);
    max-width: 45vw !important;
    border-radius: 1em;
    /* margin: auto; */
}

.formulario-cadastro {
    display: grid;
    grid-template-columns: 60% 60%
}


.input-titulo {
    display: grid;
    grid-template-columns: 20%;
}

.botao-cadastro {
    text-align: center;
    padding-bottom: 2em;
}

.input-container--invalido {
    margin-bottom: 0.5rem;
}

.input-container--invalido .input {
    border: 1px solid rgb(190, 24, 24);
    background-color: lightcoral;
}

.input-container--invalido .input-label {
    color: rgb(190, 24, 24);
    font-weight: bold;
}

.input-mensagem-erro {
    display: none;
}

.input-container--invalido .input-mensagem-erro {
    color: rgb(190, 24, 24);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    font-size: small;
    font-weight: bold;
}

/* 

 legend {
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 3%;
    padding-top: 3%;
    font-weight: bold;
 }


 form {
    padding: 2% 2% 2%;
 }

 .input {
    margin: 1%;
    width: 100%;
    padding: 1%;
 }


} */