.container-cadastro {
    background-color: var(--offwhite-fluido);
    max-width: 55vw !important;
    border-radius: 1em;
    /* margin: auto; */
}

.formulario-cadastro {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.input-titulo {
    display: block;
}

.input {
    margin-top: 0.5em;
}

.botao-cadastro {
    text-align: center;
    padding-bottom: 2em;
}

.input-container--invalido {
    margin-bottom: 0.5rem;
}

.input-container--invalido .input {
    border: 2px solid var(--erro);
}

.input-container--invalido .input-label {
    color:var(--erro);
    font-weight: bold;
}

.input-mensagem-erro {
    display: none;
    margin-bottom: 1em;
}

.input-container--invalido .input-mensagem-erro {
    color: var(--erro);
    display: block;
    font-size: small;
}

@media screen and (max-width: 1000px) {

    .container-cadastro {
        max-width: 85vw !important;
    }

}

@media screen and (max-width: 700px) {

    .formulario-cadastro {
        flex-direction: column;
    }

}












/* 

 legend {
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 3%;
    padding-top: 3%;
    font-weight: bold;
 }


 form {
    padding: 2% 2% 2%;
 }

 .input {
    margin: 1%;
    width: 100%;
    padding: 1%;
 }


} */