 .container-calculadora {
    background-color: var(--offwhite-fluido);
    max-width: 55vw !important;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
 }

 .form-calcula {
    padding: 0 0.75em 2em 0.75em;
 }

 .formulario-calculadora {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
 }

 .input-invalido {
    border: 1px solid rgb(190, 24, 24);
    background-color: lightcoral;
    font-weight: bold;
 }

 #mensagens-erro {
    color: rgb(190, 24, 24);
    background-color: rgb(243, 155, 155);
    font-weight: bold;
    text-align: center;
 }

 @media screen and (max-width: 1000px) {

    .container-calculadora {
       max-width: 75vw !important;
    }

 }

 @media screen and (max-width: 400px) {

   .container-calculadora {
      max-width: 85vw !important;
   }

}
