@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:wght@300;400;500;600;700&display=swap');

/* .container {
    width: 70% !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
    padding-top: 2% !important;
    padding-bottom: 2%;
    background: rgb(90, 143, 196);
    border-radius: 5px;
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: bold;
 } */


table{
	width: 100%;
    table-layout: fixed;

}

td, th {
	padding: .7em !important;
	border: 1px solid #ccc !important;
	text-align: center !important;
    font-weight: bold !important; 
    background-color: rgba(73, 68, 68, 0.11);
}

th{
	font-weight: bold !important;
	background-color: #EEE !important;
}

footer {
    text-align: center;
    max-height: 100px;
    position: relative;
}

.background-footer {
    max-height: 150px;
    width: 100%;

}


.sobre {
    background-color: rgb(223, 222, 222);
    padding-left: 2%;
    padding-top: 2%;;
    padding-right: 2%;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 3%;
    padding-top: 1%,

}

.destaque-titulo {
    padding-top: 3%;
    font-weight: bold;
}

.texto-centralizado {
    text-align: center;
}

.img-concluido {
    max-width: 20%;
}

.git-icon{
    max-width: 35px;
}
.git-icon:hover{
    max-width: 40px;
}