.container-tabela {
    background-color: var(--offwhite-fluido);
    max-width: 55vw !important;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2em;
    padding: 0 5em 3em 5em;
}

table {
    margin-top: 1em;
    border-radius: 10px;
    overflow: hidden;
}


th {
    background-color: var(--laranja) !important;
    color: var(--offwhite);
}

td {
    background-color: var(--offwhite);
}

@media screen and (max-width: 1000px) {

    .container-tabela {
       max-width: 75vw !important;
       margin-top: 2em;
    padding: 0 0.5em 3em 0.5em ;
    }

 }

 @media screen and (max-width: 400px) {

   .container-tabela {
      max-width: 85vw !important;
   }

}