/* Importanto estilos */
/* @import url(css/principal.css); */
@import url(css/calculadora.css);
@import url(css/cabecalho.css); 
@import url(css/principal.css);
@import url(css/tabela.css);
@import url(css/footer.css);
@import url(css/cadastro.css);

/* Importando fontes google  */
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');


/* Criando variaveis uteis */
:root {
    --fonte: 'Wix Madefor Display', sans-serif;
    --laranja: #FC5000;
    --laranja-escuro: #B44A1F;
    --turqueza: #009090;
    --turqueza-hover: #035c5c;
    --amarelo: #FF9D1E;
    --rose: #FFCAB8;
    --offwhite: #fdf8f7;
    --offwhite-fluido: #fdf8f76e;
    --preto: #000000;
    --grafite: #1B1A17;
}

body {
    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 500;
    background-image: linear-gradient(to left, var(--turqueza) 10%, var(--turqueza-hover) 100%);
}

.titulos {
    font-size: 22px;
    font-weight: 500;
    padding-top: 0.75em;
}

a {
    text-decoration: none;
    color: var(--offwhite);
}

.botao {
    color: var(--offwhite);
    background-color: var(--laranja);
    border-radius: 10em;
    margin: 0.5em 0.5em 0 0.5em ;
}

.botao:hover {
    color: var(--offwhite);
    background-color: var(--laranja-escuro);
}

label {
    font-weight: bold;
 }

 form {
    padding: 2% 2% 2%;
 }

 input {
    margin: 1em;
    padding: 1%;
    border-radius: 10em;
    width: 250px;
    border: 2px solid var(--laranja);
 }